body {
  margin: 0%;
}

header {
  padding: 5px 0px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-brand img {
  width: 230px;
  height: 70px;
}

.search-input input {
  width: 300px;
  padding: 3px 8px;
  font-size: 1rem;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
  height: 50px;
  border: none;
  outline: none;
}

.search-input input::placeholder {
  color: gray;
}

.search-input button {
  padding: 3px 8px;
  font-size: 1.1rem;
  height: 56px;
  width: 56px;
  position: relative;
  right: 60px;
  border: none;
  background-color: #3bb4bf;
}

.search-input button i {
  color: white;
}

.call-us {
  display: flex;
}

.call-us i {
  color: #3bb4bf;
  font-size: 1.3rem;
  margin: 2px 5px;
}

.call-us span {
  color: #3bb4bf;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}

.sign-in-button button {
  background-color: #3bb4bf;
  color: #fff;
  font-weight: bold;
  padding: 13px 18px;
  border: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #3bb4bf;
  font-weight: 700;
}

.dropdown-menu {
  border-color: #3bb4bf;
}

.dropdown-menu a {
  color: #3bb4bf;
  font-weight: 700;
}

.navbar-nav {
  justify-content: center;
  width: 100%;
}

.justify-content-center {
  justify-content: center !important;
}

.navbar-light .navbar-toggler {
  color: rgb(236 0 0);
  border-color: rgb(0 46 90);
}

/* icon container */
.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: 12px;
  text-align: center;
  box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.box:hover {
  transform: scaleY(1.1);
}

.icon img {
  width: 60px;
}

.name-of-icon {
  text-align: center;
}

.name-of-icon a {
  color: #002e5a;
  font-weight: 700;
  text-decoration: none;
}

.section-heading {
  text-align: center;
  margin: 70px 0px;
  color: #3bb4bf;
  font-weight: 400;
}

.page-footer {
  background-color: #3bb4bf;
}
/* Service */

ul.infoGraphic {
  margin-top: 50px;
  font-size: 0.8em;
  font-size: var(--font-size);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.infoGraphic {
  margin: 0;
  padding: 0;
}

ul.infoGraphic li {
  position: relative;
  width: 100%;
  max-width: 26em;
  background: #f5f8f7;
  background: var(--bg1);
  border-radius: 0.5em;
  padding: 0.5em;
  z-index: 1;
  transition: all 0.2s;
  cursor: pointer;
  list-style-type: none;
}

ul.infoGraphic li .numberWrap {
  position: absolute;
}

ul.infoGraphic li .number.fontColor1 {
  color: #3498db;
}

ul.infoGraphic li .number.fontColor2 {
  color: #2ecc71;
}

ul.infoGraphic li .number.fontColor3 {
  color: #9b59b6;
}

ul.infoGraphic li .number {
  font-family: "maven pro", sans-serif;
  font-size: 11em;
  font-weight: 900;
  width: -0.1em;
  text-align: center;
}

ul.infoGraphic li .number {
  font-family: "maven pro", sans-serif;
  font-size: 11em;
  font-weight: 900;
  width: -0.1em;
  text-align: center;
}
ul.infoGraphic li .coverWrap .numberCover {
  position: absolute;
  background: #f5f8f7;
  background: var(--bg1);
  width: 18em;
  height: 6em;
  border-radius: 50% 50% 0 0;
  border-bottom: 3px solid #f5f8f7;
  transition: all 0.4s;
}

ul.infoGraphic li .coverWrap .numberCover:before {
  position: absolute;
  content: "";
  bottom: 5px;
  left: 4em;
  right: 4em;
  top: 5em;

  border-radius: 100px/10px;
  z-index: -1;
}

ul.infoGraphic li .coverWrap .numberCover:after {
  position: absolute;
  bottom: 0;
  content: "";
  left: -10%;
  width: 120%;
  height: 150%;
  background: radial-gradient(
    at bottom,
    rgba(72, 102, 133, 0.2),
    transparent,
    transparent
  );
  z-index: 1;
}
ul.infoGraphic li .content {
  margin: 8em 3em 1em 7em;
  position: relative;
}
.service-icon {
  position: absolute;
  font-size: 2rem;
  text-align: center;
  top: -3.8em;
  left: 50%;
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
}

.sum-img {
  width: 125px;
}

ul.infoGraphic li .content h2 {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

ul.infoGraphic li .content p {
  line-height: 1.5em;
  font-size: 15px;
}

ul.infoGraphic li .coverWrap {
  -webkit-transform: rotate(130deg);
  transform: rotate(130deg);
  position: absolute;
  width: 18em;
  height: 15em;
  left: -3em;
  top: -1em;
}

ul.infoGraphic li:hover .coverWrap .numberCover {
  border-radius: 100%;
}

.service {
  margin: 50px auto;
}

/* Testimonial */
.heading {
  text-align: center;
  color: #454343;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
  z-index: 999;
}
.white-heading {
  color: #ffffff;
}
.heading:after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  height: 40px;
  width: 180px;
  border-radius: 4px;
  transform: translateX(-50%);
  background: url(img/heading-line.png);
  background-repeat: no-repeat;
  background-position: center;
}
.white-heading:after {
  background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
  background-repeat: no-repeat;
  background-position: center;
}

.heading span {
  font-size: 18px;
  display: block;
  font-weight: 500;
}
.white-heading span {
  color: #ffffff;
}
/*-----Testimonial-------*/

.testimonial:after {
  position: absolute;
  top: -0 !important;
  left: 0;
  content: " ";
  background: url(img/testimonial.bg-top.png);
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}

.testimonial {
  min-height: 375px;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
    url(image/testimonial.jpg);
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
  background-size: cover;
}
#testimonial4 .carousel-inner:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item {
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators {
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar {
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb {
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control {
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
  transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
}
.testimonial4_control_button .carousel-control.left {
  left: 7%;
  top: 50%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right {
  right: 7%;
  top: 50%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover {
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header {
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 136px;
  height: 136px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
  border-radius: 50%;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.4;
  margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
  color: #ffffff;
  font-size: 22px;
}

.testimonial .carousel {
  padding-bottom: 50px;
}
.testimonial .carousel-control-next-icon,
.testimonial .carousel-control-prev-icon {
  width: 35px;
  height: 35px;
}
/* ------testimonial  close-------*/
/* Footer start */
.footer-container {
  color: #fff;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  margin: auto;
  flex-direction: row;
  padding: 50px 0px;
}

.categories-name {
  align-items: center;
  display: flex;
  margin-top: 20px;
}
.categories-name select {
  padding: 5px 50px;
  outline: none;
  border: 1.2px solid lightgray;
}
.footer-heading {
  margin-bottom: 40px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  line-height: 3rem;
  width: 50%;
}

.footer-info span {
  font-size: 0.9rem;
  padding-left: 10px;
}

.our-social-handles {
  display: flex;
  width: 75%;
  justify-content: space-between;
}

.footer-info a {
  color: #fff;
  text-decoration: none;
}

.footer-info i {
  font-size: 1.2rem;
}

.footer-catagories {
  width: 50%;
  line-height: 3rem;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
}

.footer-usefull-links {
  width: 50%;
  line-height: 3rem;
}

.footer-usefull-links a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
}

.footer-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 1rem;
}

.footer-form input,
textarea {
  border: none;
  border-bottom: 1.6px solid #fff;
  padding-bottom: 5px;
  background: transparent;
  width: 100%;
  outline: none;
  color: #fff;
}

.inquiry {
  padding-top: 20px;
}

.button-submit {
  padding: 10px 25px;
  border: none;
  color: black;
  margin-top: 20px;
}

.first-footer {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.second-footer {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.contact-icon a {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .company-photo {
    width: 30%;
  }

  .about-company {
    width: 70%;
  }
}

@media screen and (max-width: 992px) {
  .first-footer {
    align-items: center;
    flex-direction: column;
  }

  .footer-info {
    width: 70%;
  }

  .company-box {
    justify-content: space-around !important;
    width: 80% !important;
  }

  .footer-catagories {
    width: 70%;
  }

  .footer-usefull-links {
    width: 70%;
    margin-top: 24px;
  }

  .footer-form {
    width: 70%;
    margin-top: 24px;
  }

  .second-footer {
    align-items: center;
    flex-direction: column;
  }

  .footer-heading {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar div {
    margin: 20px;
  }

  .first-footer {
    align-items: center;
    flex-direction: column;
  }

  .footer-info {
    width: 90%;
  }

  .footer-catagories {
    width: 90%;
  }

  .footer-usefull-links {
    width: 90%;
    margin-top: 24px;
  }

  .footer-form {
    width: 90%;
    margin-top: 24px;
  }

  .second-footer {
    align-items: center;
    flex-direction: column;
  }

  .company-photo {
    width: 78% !important;
  }

  .about-company {
    width: 78% !important;
  }

  .company-box {
    flex-direction: column;
    align-items: center;
  }

  .footer-heading {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 575px) {
  .footer-container {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  .footer-catagories {
    margin-top: 30px;
  }

  .first-footer {
    margin-top: 50px;
    width: 80%;
  }

  .footer-heading {
    font-size: 1.2rem;
  }

  .our-social-handles {
    width: 50%;
  }

  .second-footer {
    width: 80%;
  }

  .contact-icon input {
    display: none;
  }

  .contact-icon i {
    margin: 0px 24px 0px 0px;
    font-size: 2rem !important;
    color: #3bb4bf !important;
  }
}

@media screen and (max-width: 500px) {
  .about-company input {
    display: none;
  }

  .about-company p {
    font-size: 0.8rem;
  }

  .contact-icon i {
    margin: 0px 24px 0px 0px;
    font-size: 2rem !important;
    color: #3bb4bf !important;
  }
}

@media screen and (max-width: 431px) {
  .navbar div {
    margin: 5px;
  }

  .search-input button {
    padding: 3px 8px;
    font-size: 1.1rem;
    height: 54px;
    width: 55px;
    position: relative;
    left: 244px;
    top: -54px;
    border: none;
    background-color: #3bb4bf;
  }

  .section-heading {
    font-size: 1.5rem;
  }

  .heading {
    font-size: 25px;
  }
  .testimonial4_slide img {
    width: 100px;
    height: 100px;
  }
  .testimonial4_slide p {
    font-size: 0.9rem;
  }
  .footer-heading {
    font-size: 1.2rem;
  }
  .company-box {
    width: 90% !important;
    margin: auto;
  }

  .company-info {
    width: 80%;
    margin: auto;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120px;
    height: 120px;
    margin: 12px;
    text-align: center;
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
}

/* Listing Page */

.categories {
  margin: 50px 0px 50px 0px;
  position: relative;
}

.categories-box {
  display: flex;
  justify-content: center;
}

.categories-container {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
}

.categories-container i {
  right: -25px;
  position: relative;
  font-size: 1.2rem;
}

.categories-container input {
  padding: 5px 25px;
  border: 1.2px solid lightgray;
  outline: none;
  margin-top: 20px;
}

.categories-submit {
  display: flex;
  justify-content: baseline;
  padding: 5px 50px;
  margin-top: -10px;
}

.categories-submit button {
  background-color: #000;
  color: #fff;
}

/* Company Info */

.company-info {
  display: flex;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

.company-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 45%;
  margin: 20px auto;
  justify-content: center;
  border-radius: 21px;
  padding: 10px 0px;
  box-shadow: 0px 0px 6px 4px rgb(0 0 0 / 10%);
}

.company-photo {
  margin: auto;
}

.company-photo img {
  width: 150px !important;
  height: 150px;
}

.about-company {
  width: 90%;
  margin: auto;
}

.about-company h3 {
  color: #3bb4bf;
}

.about-company p {
  color: gray;
  font-size: 0.9rem;
  text-align: justify;
}

.contact-icon {
  margin-left: -25px;
}

.about-company i {
  font-size: 1.5rem;
  position: relative;
  right: -31px;
  bottom: -2px;
}

.about-company input {
  padding: 10px 10px 10px 35px;
  color: #fff;
  background-color: #002e5a;
  border: none;
}

/* contact us */

#form {
  width: 90%;
  margin: 70px auto;
}

.contact-us-heading {
  text-align: center;
  color: #3bb4bf;
}

label {
  display: block;
  margin: 1em 0 0.2em;
}
/* single-line text, checkbox, and button */
.contact-form {
  display: block;
  width: 100%;
  padding: 0.3em;
  font-size: 20px;
  background-color: #fbfbfb;
  border: solid 1px #ccc;
  resize: vertical;
}
.textarea-form {
  min-height: 160px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

input[type="submit"] {
  background: #002f5a;
  margin: 1em 0 0;
  color: white;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease-out;
}

textarea {
  color: #000;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #3bb4bf;
  outline: none;
}

.submit-form {
  padding: 10px 20px;
}

.row {
  justify-content: space-between;
}

.form-map {
  margin-top: 40px !important;
}

@media screen and (min-width: 600px) {
  form:after {
    content: "";
    display: block;
    clear: both;
  }
}
